---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<button class="font-Geist text-goodDark border-goodDark dark:text-goodWhite dark:border-goodWhite border-2 py-2 px-4 rounded-full overflow-hidden cursor-pointer duration-500 ease-linear
              hover:"
onclick="">{title}
</button>
